table, tr, th, td {
  border: 0;
}

body {
  width:90%;
}

th {
  vertical-align:top;
}

td {
  padding-bottom:20px;
}


th {
  text-align:left;
  padding-right:2em;
}

ul {
	margin:0;
}
html {
  background:#ccc;
  height: 100%;
  width:100%;
  padding:5% 0;
}
body {
  background:white;
  border:1px solid black;
  width:700px;
  min-height: 100%; /* Allows body to grow with content */
  margin: 0 auto; /* Remove default body margin */
  min-height: 100vh;
  padding:5%;
}